<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graduate Application</title>
    {% include 'dependency.html' %}
    <style>
        #personal_info {
            padding: 1rem;
        }

        #portrait {
            max-height: 300px;
        }
    </style>
</head>
<body>
    {% include 'share/header.html' %}
    <div class="container" id="container">
        <h1 class="text-center">Home</h1>
        <!--chat box-->
        <link rel="stylesheet" href="{{ url_for('static',filename='/dependency/chat_box.css') }}">
        <script src="{{ url_for('static',filename='/dependency/chat_box.js') }}"></script>
        <div id="chat_box" class="shadow">
            <div class="answer">你好/ Hello/ こんにちは~</div>
            <div class="answer">I am Haozhe Song, an undergraduate from Huazhong University of Science and Technology, China.</div>
            <div class="question">What is your major?</div>
            <div class="answer">I major in Integrated Circuits and Systems, so I am familiar with circuits and hardware.</div>
            <div class="answer">Besides, with great interests in Software Engineering and Machine Learning, I have derived extensive
                knowledge in these areas from books, online courses and hands-on projects.
            </div>
            <div class="question">So what do you want to learn in the graduate school?</div>
            <div class="answer">I hope to further my study in Software Engineering and Machine Learning. That is why I applied
                for graduate programs with a focus on either of the areas. Also, electives in computer science are preferred to fill my skill gap
                in areas like Compiler, Data Structure and so on.
            </div>
            <div class="question">What makes you a strong candidate?</div>
            <div class="answer">Armed with a solid background in both hardware and software as well as proficient language
                skills, I believe my wide range of interests and capabilities will distinguish myself as a strong candidate and be of great benefit
                to my graduate study.
            </div>
        </div>
    </div>
</body>
</html>