<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>实习申请</title>
    {% include 'dependency.html' %}
    <style>
        #personal_info {
            padding: 1rem;
        }

        #portrait {
            max-height: 325px;
        }
    </style>
</head>
<body>
    {% include 'share/header.html' %}
    <div class="container" id="container">
        <h1 class="text-center">首页</h1>
        <!--chat box-->
        <link rel="stylesheet" href="{{ url_for('static',filename='/dependency/chat_box.css') }}">
        <script src="{{ url_for('static',filename='/dependency/chat_box.js') }}"></script>
        <div id="chat_box" class="shadow">
            <div class="answer">你好/ Hello/ こんにちは~</div>
            <div class="answer">我是宋昊浙，一名华中科技大学集成电路专业的大四本科生。</div>
            <div class="answer">六月份本科毕业后，我将在2023年1月份前往卡耐基梅隆大学(CMU)攻读电子与计算机工程(ECE)的硕士学位。</div>
            <div class="question">你的长处是什么？</div>
            <div class="answer">从本科集成电路和计算机硬件的专业学习中，我对计算机底层原理和架构有着较为全面的认识。</div>
            <div class="answer">另外，通过全栈开发网页，我了解了不少前后端的知识，比如数据库，Linux和计算机网络。</div>
            <div class="answer">而且我从网络课程，书籍，论文和科研中学习和掌握了机器学习相关知识。</div>
            <div class="answer">我的日语和英语语言能力，尤其是英语能力，使我能很好地与外国人沟通交流。</div>
            <div class="question">你希望从事怎样的工作？</div>
            <div class="answer">我希望能找到一份3至6个月的软件开发相关的实习工作，以此来实践和提升我的软件开发能力，也能为我在CMU的软件开发研究生课程学习打下更为坚实的基础。
            </div>
            <div class="question">你为什么认为你适合这份工作？</div>
            <div class="answer">我对计算机硬件和软件都有一定的了解，再加上不错的语言能力，我相信自己能胜任这份工作，也能为团队做出自己的贡献。
            </div>
        </div>
    </div>
</body>
</html>