<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haozhe Song</title>
    {% include 'components/dependency.html' %}
</head>

<body>
    {% include 'components/header.html' %}
    <main class="container" id="container">
        <h1 class="text-center">Home</h1>
        <p>Work In Progress</p>
        <p>Redirect to <a href="/project">Project</a> page in <span id="countdown">5</span> seconds.</p>
        <script>
            let timeLeft = 5;
            const timer = setInterval(function () {
                timeLeft--;
                $('#countdown').text(timeLeft);

                if (timeLeft <= 0) {
                    clearInterval(timer);
                    window.location.href = '/project';
                }
            }, 1000);
        </script>
    </main>
</body>

</html>