<div class="modal fade" id="no_zh_translation_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>暂无中文翻译版本</p>
                <p>Chinese translation version is unavailable now.</p>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        $('#no_zh_translation_modal').modal('show');
    }, 500);
</script>