<ul>
    <li>
        Customized a two-stage amplification circuit to amplify the output of a new 3D magnetic
        sensor invented by NEEDS Lab, which successfully magnified and biased the ±0.2mV output to a
        range of 1.5V~3.5V to meet the ADC input requirements.
    </li>
    <li>
        Designed a high-precision bipolar digital current source to drive the sensor, by using a
        digital voltage source that was composed of a DAC and several amplifiers, and a Howland
        Current Pump to covert the voltage to current linearly.
    </li>
    <li>
        Involved in writing C and Verilog codes to control the circuits, process the signal, and
        transmit the processing result on ZigBee wireless protocol for display.
    </li>
    <li>
        Simulated and verified all the circuits in LTSpice, and then designed Printed Circuit Boards
        (PCB) in Altium Designer, and finally obtained a device with expected functions after
        power-on debugging, modification, and optimization.
    </li>
</ul>