<ul>
    <li>
        Extracted Power Spectrum Density (PSD) from Electroencephalogram (EEG) signals by
        programming in MATLAB, based on Fourier Transform and EEGLAB APIs (a toolbox specialized in
        EEG processing).
    </li>
    <li>
        Used Scikit-learn to build and train a Support Vector Machine (SVM) model with driver’s
        response time as the label and PSD as the feature.
    </li>
    <li>
        Optimized the SVM model by preprocessing data (data cleaning, normalization and weighting)
        and tuning parameters (parallel-task grid search).
    </li>
</ul>